img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
.gm-err-container{
    height:100%;
    width:100%;
    display:table;
    background-color:#e8eaed;
    position:relative;left:0;top:0
}
.gm-err-content{
    border-radius:1px;
    padding-top:0;
    padding-left:10%;
    padding-right:10%;
    position:static;
    vertical-align:middle;
    display:table-cell
}.gm-err-content a{
    color:#3c4043
}
.gm-err-icon{
    text-align:center
}
.gm-err-title
{
    margin:5px;
    margin-bottom:20px;
    color:#3c4043;
    font-family:Roboto,Arial,sans-serif;
    text-align:center;
    font-size:24px
}.gm-err-message{
    margin:5px;color:#3c4043;
    font-family:Roboto,Arial,sans-serif;
    text-align:center;
    font-size:12px
}
.gm-err-autocomplete{
    padding-left:20px;
    background-repeat:no-repeat;
    background-size:15px 15px
}
.gm-style-moc{
    background-color:rgba(0,0,0,0.45);
    pointer-events:none;
    text-align:center;
    transition:opacity ease-in-out
}
.gm-style-mot{
        color:white;
        font-family:Roboto,Arial,sans-serif;
        font-size:22px;
        margin:0;
        position:relative;
        top:50%;
        transform:translateY(-50%);
        -webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%)
    }
.gm-style img{
    max-width: none;
}
.gm-style {
    font: 400 11px Roboto, Arial, sans-serif; 
    text-decoration: none;
}

	